## 0.0 Import Libraries

In [1]:
import pandas as pd

In [2]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 2.4 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [3]:
from sqlalchemy import create_engine
import pymysql

## 1.0 Extract Data

### Enrollies' Data

As enrollies are submitting their request to join the course via Google Forms, this enrolled data should be imported into a dataframe.

In [4]:
google_sheet_id = '1VCkHwBjJGRJ21asd9pxW4_0z2PWuKhbLR3gUHm-p4GI'
url = 'https://docs.google.com/spreadsheets/d/' + google_sheet_id + '/export?format=xlsx'
enrollies_data = pd.read_excel(url, sheet_name='enrollies')

In [5]:
enrollies_data.head()

   enrollee_id      full_name      city gender
0         8949     Mike Jones  city_103   Male
1        29725    Laura Jones   city_40   Male
2        11561   David Miller   city_21    NaN
3        33241    Laura Davis  city_115    NaN
4          666  Alex Martinez  city_162   Male

### Enrollies' education

After enrollment everyone should fill the form about their education level. This form is being digitalized manually.
Educational department stores it in the Excel format, this enrolled education data should be imported into a dataframe.

In [7]:
enrollies_education = pd.read_excel('enrollies_education.xlsx')

In [8]:
enrollies_education.head()

   enrollee_id enrolled_university education_level major_discipline
0         8949       no_enrollment        Graduate             STEM
1        29725       no_enrollment        Graduate             STEM
2        11561    Full time course        Graduate             STEM
3        33241                 NaN        Graduate  Business Degree
4          666       no_enrollment         Masters             STEM

### Enrollies' working experience

Another survey that is being collected manually by educational department is about working experience.
Educational department stores it in the CSV format, this enrolled working experience data should be imported into a dataframe.

In [10]:
work_experience = pd.read_csv('work_experience.csv')

In [11]:
work_experience.head()

,enrollee_id,relevent_experience,experience,company_size,company_type,last_new_job
0,8949,Has relevent experience,>20,NaN,NaN,1
1,29725,No relevent experience,15,50-99,Pvt Ltd,>4
2,11561,No relevent experience,5,NaN,NaN,never
3,33241,No relevent experience,<1,NaN,Pvt Ltd,never
4,666,Has relevent experience,>20,50-99,Funded Startup,4

### Training hours

There is a system's database achived a number of training hours for each student that they have completed, this traing hours data should be imported into a dataframe.

In [12]:
engine = create_engine('mysql+pymysql://etl_practice:550814@112.213.86.31:3360/company_course')
training_hours = pd.read_sql_table('training_hours', engine)

In [13]:
training_hours.head()

   enrollee_id  training_hours
0         8949              36
1        29725              47
2        11561              83
3        33241              52
4          666               8

### City development index

A table of City development index could be retrived from the specific website.
The City Development Index (CDI) is a measure designed to capture the level of development in cities. It may be significant for the resulting prediction of student's employment motivation.
This city development index data should be imported into a dataframe.

In [14]:
tables = pd.read_html('https://sca-programming-school.github.io/city_development_index/index.html')

cities = tables[0]

In [15]:
cities.head()

       City  City Development Index
0  city_103                   0.920
1   city_40                   0.776
2   city_21                   0.624
3  city_115                   0.789
4  city_162                   0.767

### Employment

From the above system's database it can also retrieve the fact of employment. If student is marked as employed, it means that this student started to work in the company after finishing the course.
This employment data should be imported into a dataframe.

In [16]:
employment = pd.read_sql_table('employment', engine)

In [17]:
employment.head()

   enrollee_id  employed
0            1       0.0
1            2       1.0
2            4       0.0
3            5       0.0
4            7       0.0

## 2.0 Transform Data

## 2.1 Enrollies' Data

In [18]:
enrollies_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   enrollee_id  19158 non-null  int64
 1   full_name    19158 non-null  object
 2   city         19158 non-null  object
 3   gender       14650 non-null  object
dtypes: int64(1), object(3)
memory usage: 598.8+ KB

### Fix data type

In [19]:
enrollies_data['full_name'] = enrollies_data['full_name'].astype('string')
enrollies_data['city'] = enrollies_data['city'].astype('category')
enrollies_data['gender'] = enrollies_data['gender'].astype('category')

### Fill missing values

The missing gender should be filled by the most frequent one.

In [20]:
gender_mode = enrollies_data['gender'].mode()[0]
enrollies_data['gender'].fillna(gender_mode, inplace=True)

/tmp/ipython-input-20-2864120251.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  enrollies_data['gender'].fillna(gender_mode, inplace=True)

In [21]:
enrollies_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   enrollee_id  19158 non-null  int64
 1   full_name    19158 non-null  string
 2   city         19158 non-null  category
 3   gender       19158 non-null  category
dtypes: category(2), int64(1), string(1)
memory usage: 342.1 KB

## 2.2 Enrollies' education

In [22]:
enrollies_education.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   enrollee_id          19158 non-null  int64
 1   enrolled_university  18772 non-null  object
 2   education_level      18698 non-null  object
 3   major_discipline     16345 non-null  object
dtypes: int64(1), object(3)
memory usage: 598.8+ KB

### Fix data type

In [23]:
enrollies_education['enrolled_university'] = enrollies_education['enrolled_university'].astype('category')
enrollies_education['education_level'] = enrollies_education['education_level'].astype('category')
enrollies_education['major_discipline'] = enrollies_education['major_discipline'].astype('category')

### Fill missing values

The missing values of enrolled university, education level and major discipline should be filled by the most frequent ones.

In [24]:
enrolled_mode = enrollies_education['enrolled_university'].mode()[0]
enrollies_education['enrolled_university'].fillna(enrolled_mode, inplace=True)

level_mode = enrollies_education['education_level'].mode()[0]
enrollies_education['education_level'].fillna(level_mode, inplace=True)

discipline_mode = enrollies_education['major_discipline'].mode()[0]
enrollies_education['major_discipline'].fillna(discipline_mode, inplace=True)

/tmp/ipython-input-24-3267828306.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  enrollies_education['enrolled_university'].fillna(enrolled_mode, inplace=True)
/tmp/ipython-input-24-3267828306.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  enrollies_education['education_level'].fillna(level_mode, inplace=True)
/tmp/ipython-input-24-3267828306.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  enrollies_education['major_discipline'].fillna(discipline_mode, inplace=True)

In [25]:
enrollies_education.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   enrollee_id          19158 non-null  int64
 1   enrolled_university  19158 non-null  category
 2   education_level      19158 non-null  category
 3   major_discipline     19158 non-null  category
dtypes: category(3), int64(1)
memory usage: 206.5 KB

## 2.3 Enrollies' working experience

In [26]:
work_experience.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   enrollee_id          19158 non-null  int64
 1   relevent_experience  19158 non-null  object
 2   experience           19093 non-null  object
 3   company_size         13220 non-null  object
 4   company_type         13018 non-null  object
 5   last_new_job         18735 non-null  object
dtypes: int64(1), object(5)
memory usage: 898.2+ KB

### Fix data type

In [27]:
work_experience['company_type'] = work_experience['company_type'].astype('category')
work_experience['company_size'] = work_experience['company_size'].astype('category')
work_experience['last_new_job'] = work_experience['last_new_job'].astype('category')
work_experience['relevent_experience'] = work_experience['relevent_experience'].astype('category')
work_experience['experience'] = work_experience['experience'].astype('string')

In [28]:
work_experience.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   enrollee_id          19158 non-null  int64
 1   relevent_experience  19158 non-null  category
 2   experience           19093 non-null  string
 3   company_size         13220 non-null  category
 4   company_type         13018 non-null  category
 5   last_new_job         18735 non-null  category
dtypes: category(4), int64(1), string(1)
memory usage: 375.2 KB

### Fill missing values

The missing values of experience, company type, company size and last new job should be filled by the most frequent ones.

In [30]:
experience_mode = work_experience['experience'].mode()[0]
work_experience['experience'].fillna(experience_mode, inplace=True)

company_type_mode = work_experience['company_type'].mode()[0]
work_experience['company_type'].fillna(company_type_mode, inplace=True)

company_size_mode = work_experience['company_size'].mode()[0]
work_experience['company_size'].fillna(company_size_mode, inplace=True)

last_new_job_mode = work_experience['last_new_job'].mode()[0]
work_experience['last_new_job'].fillna(last_new_job_mode, inplace=True)

/tmp/ipython-input-30-2398357096.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  work_experience['experience'].fillna(experience_mode, inplace=True)
/tmp/ipython-input-30-2398357096.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  work_experience['company_type'].fillna(company_type_mode, inplace=True)
/tmp/ipython-input-30-2398357096.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  work_experience['company_size'].fillna(company_size_mode, inplace=True)
/tmp/ipython-input-30-2398357096.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  work_experience['last_new_job'].fillna(last_new_job_mode, inplace=True)

In [31]:
work_experience.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   enrollee_id          19158 non-null  int64
 1   relevent_experience  19158 non-null  category
 2   experience           19158 non-null  string
 3   company_size         19158 non-null  category
 4   company_type         19158 non-null  category
 5   last_new_job         19158 non-null  category
dtypes: category(4), int64(1), string(1)
memory usage: 375.2 KB

## 2.4 Training hours

The training hours dataframe has no missing values nor wrong data type

In [32]:
training_hours.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   enrollee_id     19158 non-null  int64
 1   training_hours  19158 non-null  int64
dtypes: int64(2)
memory usage: 299.5 KB

## 2.5 City development index

In [34]:
cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 2 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   City                    123 non-null    object
 1   City Development Index  123 non-null    float64
dtypes: float64(1), object(1)
memory usage: 2.1+ KB

### Fix data type

In [38]:
cities['City'] = cities['City'].astype('string')
cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 2 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   City                    123 non-null    string
 1   City Development Index  123 non-null    float64
dtypes: float64(1), string(1)
memory usage: 2.1 KB

## 2.6 Employment

The employment dataframe has no missing values nor wrong data type

In [42]:
employment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   enrollee_id  19158 non-null  int64
 1   employed     19158 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 299.5 KB

## 3. Load data

Creating a new database to load all the above dataframes.

In [43]:
db_path = 'data_warehouse.db'

engine = create_engine(f'sqlite:///{db_path}')

enrollies_data.to_sql('dim_enrollies', engine, if_exists='replace', index=False)
enrollies_education.to_sql('fact_enrollies_education', engine, if_exists='replace', index=False)
work_experience.to_sql('dim_work_experience', engine, if_exists='replace', index=False)
training_hours.to_sql('dim_training_hours', engine, if_exists='replace', index=False)
cities.to_sql('dim_cities', engine, if_exists='replace', index=False)
employment.to_sql('dim_employment', engine, if_exists='replace', index=False)

19158